<html ng-app="app">
    <head>
        <title>Template</title>
        <script src="bower_components/angular/angular.js" ></script>
        <script src="main.js" ></script>
        <style>
            .red {color: red;}
            div {padding-bottom: 10px;}
        </style>
    </head>

    <body>
        <div ng-controller="ctrl">
            <h1>{{title}}</h1>
            <div>
                <label>Input: </label>
                <input ng-model="inputVal"/>
                <button ng-click="alertMe(inputVal)">Click me!</button>
                <span>Value of the Input is: {{inputVal}}</span>
            </div>
            <div>
                Count: {{count()}}
                <button ng-click="increment()">Increment</button>
                <button ng-click="increment(inputVal)">Increment by {{inputVal}}</button>
            </div>
        </div>
        <div ng-controller="anotherCtrl">
            The count in another scope is still: {{count()}}
        </div>

        <div x-yo-red-paragraph>
            TExT
        </div>


        <div x-yo-red-paragraph>
            Another paragraph
        </div>
    </body>
</html>